/vendor
/node_modules
/.git
/.idea
/.vscode
*.log
.env
.env.backup
.env.production
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
.DS_Store
Thumbs.db
*.sql
docker-compose*.yml
.dockerignore
README.md
